.post {
  margin-left: 25%;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 45%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.postTop {
  display: flex;
  position: relative;
  align-items: center;
}

.postAvatar {
  margin-right: 10px;
}

.info a {
  text-decoration: none;
  color: inherit;
}

.info a:hover {
  text-decoration: underline;
}

.info h3 {
  font-size: medium;
}

.info p {
  font-size: small;
  color: gray;
}

.postBottom {
  margin-top: 10px;
  margin-bottom: 10px;
}

.postOptions {
  display: flex;
  padding-top: 10px;
  border-top: 1px solid lightgray;
  font-size: medium;
  color: gray;
  padding: 10px;
}

.postOpt {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.postOpt:hover {
  cursor: pointer;
  background-color: #eff2f5;
  border-radius: 10px;
}

.postClicked {
  color: #1877f2;
}

.postStats {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
}

.postStats p {
  margin-left: 10px;
  font-size: 1.3rem;
}

.likes,
.comments {
  display: flex;
}
